<head>
    <title>Chess</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/main.css">
    <!_________JS_________>
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.24.custom.min.js"></script>
    <script type="text/javascript" src="js/garbochess.js"></script>
    <script type="text/javascript" src="js/boardui.js"></script>
    <script type="text/javascript" src="js/startchess.js"></script>
    <script type="text/javascript" src="js/puzzle.js"></script>
    <script type="text/javascript" src="js/redirect_mobile.js"></script>

    <!_________FONTS_______>
    <link href='https://fonts.googleapis.com/css?family=Wellfleet' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
    <link rel="icon" href="https://minhyukpark.com/favicon.ico?v=5vn" />
    <script></script>
</head>
