<div id="MainChess">
    <div class="content">
        <div id="board-parent">
	    <div id="board-meta">
		<div id="board-top">
		    <div id="board-left">
		    8 
		    <br>
		    7 
		    <br>
		    6
		    <br>
		    5
		    <br>
		    4
		    <br>
		    3
		    <br>
		    2
		    <br>
		    1
		    </div>
                    <div id="board"> </div>
		</div>
		<div id="board-bottom">
		    <div id="board-bottom-left">
	                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    </div>
                    <div id="board-bottom-text">abcdefgh</div>
		</div>
	    </div>
	</div>

	<div id="stats">
        	<div id="stats-options">
        	    <h1>
        	    <a href="javascript:UINewGame()">New game</a>
		     | 
        	    <a href="javascript:UIUndoMove()">Undo</a>
		     | 
        	    <a href="javascript:GetPuzzle()">GetRandomPuzzle</a>
		     | 
        	    <a href="javascript:ReloadPuzzle()">Reload</a>
        	    </h1>
        	</div>
        </div>
    </div>
</div>
<div id="hidden-current-puzzle">
</div>
<div id="PgnTextBox">
</div>
<div id="FenTextBox">
</div>
<div id="output">
</div>
